{
  "env": {
    "browser": true,
    "es6": true,
    "jasmine": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "chrome": false,
    "module": false,
    "process": false
  },
  "rules": {
    "indent": [1],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      "error",
      "always"
    ]
  }
}
